<footer class="footer clearfix">
  <div class="footNav clearfix">
    <div class="footNavInner">
      <div class="footNavCol">
        <h5>OVERVIEW</h5>
        <ul>
          <li><a href="https://www.strayos.com/solutions.html">How it works</a></li>
          <li><a href="https://www.strayos.com/solutions.html">Industries</a></li>
        </ul>
      </div>
      <div class="footNavCol">
        <h5>HELP</h5>
        <ul>
          <li><a href="https://www.strayos.com/about.html">Contact Us</a></li>
          <li><a href="https://www.strayos.com/privacy-policy.html">Privacy Policy</a></li>
          <li><a href="https://www.strayos.com/terms-of-use.html">Terms of Use</a></li>
        </ul>
      </div>
      <div class="footNavCol">
        <h5>COMPANY</h5>
        <ul>
          <li><a href="https://www.strayos.com/about.htm">About Us</a></li>
          <li><a href="https://www.strayos.com/solutions.html">Solution</a></li>
          <li><a href="https://www.strayos.com/solutions.html">Product</a></li>
          <li><a href="https://blog.strayos.com/">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright clearfix">
    <div class="copyrightCol">
      <p>Copyright © 2017 Strayos Inc. All rights reserved.</p>
    </div>
    <div class="copyrightCol"><img src="/assets/images/strayos-logo-gray.png" alt=""></div>
    <div class="copyrightCol">
      <ul class="socialIcon">
        <li><a href="https://www.linkedin.com/company-beta/11121185/"><img src="/assets/images/linkedin-icon.png" alt=""></a></li>
        <li><a href="https://www.facebook.com/strayos/"><img src="/assets/images/facebook-icon.png" alt=""></a></li>
        <li><a href="https://www.twitter.com/StrayosAI"><img src="/assets/images/Twitter-icon.png" alt=""></a></li>
      </ul>
    </div>
  </div>
</footer>