<div class="main">
  <div class="layerRow clearfix">
    <div class="clearfix">
      <div class="layerRowLeft">
        Orthophoto
      </div>
      <div class="layerRowRight">
        <label class="switch fRight">
          <input type="checkbox">
          <span class="switchSlider round"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="layerRow clearfix">
    <div class="clearfix">
      <div class="layerRowLeft">
        Camera Position
      </div>
      <div class="layerRowRight">
        <label class="switch fRight">
          <input type="checkbox">
          <span class="switchSlider round"></span>
        </label>
      </div>
    </div>
  </div>
  <h5>Elevation Heat Map</h5>
  <div class="layerRow clearfix">
    <div class="clearfix">
      <div class="layerRowLeft">
        Digital Elevation Model
      </div>
      <div class="layerRowRight">
        <label class="switch fRight">
          <input data-target="#HeatMap" class="switchBtn" type="checkbox" checked>
          <span class="switchSlider round"></span>
        </label>
      </div>
    </div>
    <div id="HeatMap" class="mapCont clearfix">
      <div class="mapWrap clearfix">
        <img src="images/elevationModel-map.png" alt="">
      </div>
      <h4>Opacity</h4>
      <div class="rangeSliderOuter">
        <div id="slider" class="rangeSlider"></div>
      </div>
      <div class="percent clearfix">
        <span class="fLeft">0%</span>
        <span class="fRight">100%</span>
      </div>
    </div>
  </div>
  <div class="layerRow clearfix">
    <div class="clearfix">
      <div class="layerRowLeft">
        Digital Terrain Model
      </div>
      <div class="layerRowRight">
        <label class="switch fRight">
          <input type="checkbox">
          <span class="switchSlider round"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="layerRow clearfix">
    <div class="clearfix">
      <div class="layerRowLeft">
        Coloured Hilshade
      </div>
      <div class="layerRowRight">
        <label class="switch fRight">
          <input type="checkbox">
          <span class="switchSlider round"></span>
        </label>
      </div>
    </div>
  </div>
  <h5>Contour</h5>
  <div class="layerRow clearfix">
    <div class="clearfix">
      <div class="layerRowLeft">
        Contour 5000 ft.
      </div>
      <div class="layerRowRight">
        <label class="switch fRight">
          <input type="checkbox">
          <span class="switchSlider round"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="layerRow clearfix">
    <div class="clearfix">
      <div class="layerRowLeft">
        Contour 10000 ft.
      </div>
      <div class="layerRowRight">
        <label class="switch fRight">
          <input type="checkbox">
          <span class="switchSlider round"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="layerRow clearfix">
    <div class="clearfix">
      <div class="layerRowLeft">
        Contour 20000 ft.
      </div>
      <div class="layerRowRight">
        <label class="switch fRight">
          <input type="checkbox">
          <span class="switchSlider round"></span>
        </label>
      </div>
    </div>
  </div>
</div>