@media (min-width:320px) and (max-width:767px){
  .header{ padding:0 10px; height: 54px;}
  .btnMobileNav{ display: block; top: 11px;}
  .logo{ margin:10px 0 0 0; line-height: 20px;}
  .topNav{ width: 100%; height: 100%; background: #eeeeee; position: fixed; right: 0; top: 33px; padding: 30px 0 0 0; display: none; z-index: 999999;}
  .topNav li{ display: block; margin: 0 0 20px 0; text-align: center;}
  .topNav li a{ display: block; }
  .user{ margin: 0; display: none; }

  .modal-header h4{ font-size: 22px; color: #101F1F; text-align: center; }
  .formCont{ padding: 15px; }
  .formCont .row{ margin-bottom: 0; }
  .formCont .column{ margin-bottom: 20px; }
  .btnRequestDrone{ margin: 10px 0 0 0; }

  .dvUploadProcess{ /*padding: 10px; margin: 60px 0 0 0;*/ position: relative; top: auto; left: auto; bottom: auto; right: auto;}
  .processBox{ padding: 10px; position: relative; top: auto; left: auto; bottom: auto; right: auto; width: 100%; height: auto; overflow: visible;}
  .processBox h3{ font-size: 22px; margin: 0 0 20px 0; }
  .processTab ul li{ font-size: 14px; }
  .processContent{ padding: 20px 0; }
  .frmLabel{ font-size: 15px; }
  .txtLink{ font-size: 14px; }
  .frmProssesRow{ margin: 0 0 20px 0; }
  .txtInput2{ font-size: 14px; }
  .processContent h4{ font-size: 15px; }
  .processContent h4 span{ font-size: 14px; }
  .processContent h5{ font-size: 14px; }
  .top50{ padding: 30px 0 0 0; }
  .gcpData{ border:0; padding: 0; }
  .dragDropCont p{ font-size: 14px; }
  .dvSwitchWrapLeft{ width: 70%; }
  .dvSwitchWrapRight{ width: 30%; }
  .pTop20{ padding: 20px 0 0 0; }
  .dragDropCont2{ margin: 0; padding: 20px 10px; }
  .dragDropCont2 p{ font-size: 15px; }
  .loadingCont{ padding: 20px 0 0 0; }
  .imageHeader{ padding: 10px; }
  .imgNum{ width: 100%; font-size: 16px; }
  .imgDetails{ width: 100%; float: left; }
  .imgDetails{ width: 100%; float: left; }
  .removeImg{ margin: 0; padding: 0 5px 0 25px;}
  .path > img{ max-width: 90px; }
  .backBttn{ padding: 10px 30px; }
  .btnNext{ padding: 12px 30px; }
  .requestDetails{ padding: 10px 0 0 0; }
  .requestDetailsCol{ padding: 0 10px; width: 100%; border-right:0; border-bottom:1px #eee solid;}
  .requestDetailsCol h6{ font-size: 14px; }
  .requestDetailsCol p{ font-size: 14px; }
  .txtUploadingProgress{ padding: 20px 0; }
  .txtUploading{ font-size: 20px; }
  .txtUploadingProgress p{ font-size: 13px; }
  .txtFilename2{ font-size: 14px; }
  .progressBar2{ height: 10px; }
  .progressBarInner2{ height: 10px; }
  .automaticallySubmited{ margin: 20px 0 0 0; padding: 15px; }
  .submitedLeft{ font-size: 12px; }
  .btnNext.largeBtn{ margin: 5px; }
  .successful h2{ font-size: 22px; padding: 10px 0 10px 0; }
  .successful p{ font-size: 14px; }
  .btnPageClose{ top: 14px; width: 14px; }


  .mainHeader{
    position: fixed;
    padding: 0;
    height: 54px;
    background: rgb(105,221,168);
    background: -moz-linear-gradient(left, rgba(105,221,168,1) 0%, rgba(42,154,202,1) 100%);
    background: -webkit-linear-gradient(left, rgba(105,221,168,1) 0%,rgba(42,154,202,1) 100%);
    background: linear-gradient(to right, rgba(105,221,168,1) 0%,rgba(42,154,202,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69dda8', endColorstr='#2a9aca',GradientType=1 );
  }
  a.menu-button{ display: block; }
  .mainLogo{ width: 110px; margin: 5px 0 0 10px; }
  .navigation{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgb(105,221,168);
    background: -moz-linear-gradient(left, rgba(105,221,168,1) 0%, rgba(42,154,202,1) 100%);
    background: -webkit-linear-gradient(left, rgba(105,221,168,1) 0%,rgba(42,154,202,1) 100%);
    background: linear-gradient(to right, rgba(105,221,168,1) 0%,rgba(42,154,202,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69dda8', endColorstr='#2a9aca',GradientType=1 );
    transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    opacity: 0;
  }
  .navigation.navOpen{
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
  .topNavi{ display: block; width: 100%; margin: 50px 0 0 0;}
  .topNavi li{ display: block; margin: 0 0 15px 0; float: none; text-align: center;}
  .log{ display: block; }
  .log li{ display: block; text-align: center; margin: 0 0 15px 0;}
  .log li a{ display: inline-block; }


  .formContOuter{ padding: 80px 15px 30px 15px; }
  .formCont{ padding: 25px 15px;}
  .formCont h3{ font-size: 24px; margin: 0 0 30px 0; }
  .frmRow{ padding: 0 0 20px 0; }
  .submitBtnCont{ padding: 25px 0 0 0; }
  .submitBtnCont p{ padding: 25px 0 0 0; }

  .footer{ padding: 15px; }
  .footNav{ padding: 0; margin:0 0 15px 0; border-bottom: 1px #E4E4E4 solid; }
  .footNavInner{ -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .footNavCol{ width: 100%; margin:0 0 10px 0;}
  .footNavCol h5{ font-size: 14px; margin:0 0 6px 0;}
  .footNavCol ul li{ font-size: 14px; }

  .copyright{ -ms-flex-wrap: wrap; flex-wrap: wrap;}
  .copyrightCol{ width: 100%; -webkit-box-flex: 1; -ms-flex: auto; flex: auto; text-align: center !important; margin:0 0 10px 0;}
  .copyrightCol p{ font-size: 12px;}


  .uploadContainer{ padding: 15px; }
  .heading{ font-size: 20px; margin:0;}
  .btnPageClose{ top: 10px; right: 10px; }
  p.subHeading{ font-size: 15px; }
  .dvCreateNew{ margin-top: 30px; }
  .dvCreateCol:first-child{ border-right:1px #ddd solid; }
  .processTab{ margin:20px 0 0 0; }
  .processTab ul li{ font-size: 14px; }
  .processTab ul li a span.txtNum{ margin:0; }
  .processTab ul li a span.txtTab{ display: block; }
  .tblDataGrid th{ padding: 10px; font-size: 12px; white-space: nowrap; }
  .tblDataGrid td{ padding: 10px; font-size: 12px; white-space: nowrap; }
  .processBox h2{ font-size: 22px; margin: 0 0 10px 0; }
  .processBox h4{ font-size: 16px;}
  .dvCreateCol{ padding: 20px 10px;}
  .dvCreateCol .txtImgName{ font-size: 16px; }
  .dvCreateCol h6{ font-size: 12px; min-height: 56px;}
  .btnGetStarted{ font-size: 14px; height: 40px; line-height: 40px; width: 120px; }
  .iconCont{ min-height: 80px;}
  .iconCont span{ margin: 0;}
  .iconCont span.jpeg{ width: 60px; height: 61px; background-size: 100%; }
  .iconCont span.tiff{ width: 68px; height: 55px; background-size: 100%; }

}


@media (min-width:768px) and (max-width:1024px){
  .header{ padding: 0 10px; }
  .backBtn{ width: 20px; }
  .txtBig{ font-size: 12px; }
  .siteDropdown{ font-size: 12px; }
  .dvBtnUpload{ padding: 0 10px 0 0; }
  .btnUploadProject::before{ width: 0; }
  .btnUploadProject{ font-size: 12px; padding: 10px; }
  .siteDropdown::after{ top: 6px; }
  .logo{ margin: 8px 0 0 0; }
  .topNav{ margin: 12px 0 0 30px; }
  .topNav li{ margin: 0 20px 0 0; }

  .dvUploadProcess{ padding: 40px; margin: 64px 0 0 0; position: relative; top: auto; left: auto; bottom: auto; right: auto;}
  .processBox{ position: relative; top: auto; left: auto; bottom: auto; right: auto; width: 100%; height: auto; overflow: visible;}

  .processContent{ padding: 40px 20px; }
  .requestDetailsCol{ padding: 0 10px; }
  .dvDrilPlanViewWrap{ padding: 0 20px; }

  .mainHeader{ padding: 20px 10px; }
  .mainLogo{ width: 120px; }
  .topNav li{ margin: 0 10px 0 0;}
  .log li a{ width: 88px; font-size: 12px; }


  .uploadContainer{ padding: 30px; }
  .processContent{ padding: 40px 20px; }
  .requestDetailsCol{ padding: 0 10px; }
  .processContent h4{ font-size: 16px; }
  .processContent h5{ font-size: 14px; }
  .txtLink{ font-size: 14px; }
  .frmLabel{ font-size: 18px; }
  .dragDropCont p{ font-size: 20px; }
  .dragDropCont2 p{ font-size: 20px; }
  .requestDetailsCol h6{ font-size: 14px; }
  .requestDetailsCol p{ font-size: 14px; }
  .submitedLeft{ font-size: 16px; }

}