<div class = "main clearfix">
  <div *ngIf="mainDataset$ | async; let mainDataset else loading">
    <div *ngIf="datasets$ | async; let datasets else loading">
      <tabset>
        <tab *ngFor="let dataset of datasets" [heading]="dataset.name()">
          <ng-template tabHeading>
            <span>{{dataset.name()}}</span>
            <rating *ngIf="dataset.id() == (mainDataset)?.id()" [ngModel]="1" [max]="1" [readonly]="true"></rating>
          </ng-template>
          <app-dataset-shotplanning [dataset]="dataset"></app-dataset-shotplanning>
        </tab>
      </tabset>
    </div>
  </div>
</div>
<ng-template #loading>Loading</ng-template>